<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.api.mapper.OpenApiConfigMapper">

    <select id="getByAppId" resultType="com.test.api.model.OpenApiConfig">
        SELECT t.app_id, t.app_secret FROM open_api_config t WHERE app_id = #{appId}
    </select>
</mapper>